[submodule "front-end/bloco-14-testes-automatizados-com-react-testing-library/14.1-rtl-primeiros-passos/front-end/bloco-14-testes-automatizados-com-react-testing-library/14.1-rtl-primeiros-passos/exercise-todo-list"]
	path = front-end/bloco-14-testes-automatizados-com-react-testing-library/14.1-rtl-primeiros-passos/front-end/bloco-14-testes-automatizados-com-react-testing-library/14.1-rtl-primeiros-passos/exercise-todo-list
	url = git@github.com:nataliasto/exercise-todo-list.git
