.super-mario {
    width: 200px;
    position: absolute;
    left: 20px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 375px;
    left: 80px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }